<!doctype html>
<html lang="en" ng-app="registration">
<head>
    <meta charset="utf-8">
    <title>Self registration</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body>
<div ng-controller="QuestionListController">
    Search: <input ng-model="query">
    Select order
    <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="num">Newest</option>
    </select>

    <ul>
        <li ng-repeat="question in questions | filter:query | orderBy:orderProp">
            <p>{{question.name}}</p>
            <p>{{question.num}}</p>
        </li>
    </ul>
</div>

</body>
</html>